{% trans_default_domain 'learning' %}

<div class="uk-modal-dialog">
    <div class="uk-modal-header">
        <h3>{{ "learning.category.update.title"|trans }}</h3>
    </div>
    <div class="uk-modal-body">
        {% include 'AdminBundle:Learning:form_category.html.twig' with {'form': form, 'category': category} %}
    </div>
</div>